/*** XML demonstration ***/
cookbook:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
  content: "Online collection";
  background-color: #cdf;
  }
  

metadata {
  display: block;
  margin: 2em 1em;
  border: 4px solid #cdf;
  padding: 0px 1em;
  background-color: white;
  }

title {
  font-weight: bold;
  font-size: 150%;

  }

content {
  display: block;
  margin: 2em 1em;
  border: 4px solid #faa;
  padding: 0px 1em;
  background-color: white;
  }

chapterHead {
  display: block;
  font-weight: bold;

  font-size: 150%;
    background-color: #faa;
  }
  
  recipe {
  display: block;
  margin: 2em 1em;
  border: 2px solid #aaa;
  padding: 8px 1em;
  background-color: white;

  }
  
  name {
    display: block;
  font-weight: bold;
    margin: 2em 1em;
      padding: 8px 1em;
        height: 100px;
  font-size: 150%;
     background-image: url(https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-1035601_12-ae7f0ff.jpg?quality=90&webp=true&resize=375,341);
 
  }

ingredients {
  display: block;
  margin: 2em 1em;
  border: 1px solid #ccc;
  padding: 0px 1em;
  background-color: white;
  }

ingredients:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
    content: "Ingredients:";
  background-color: #caa;
  }
  
method {
  display: block;
  margin: 2em 1em;
  border: 1px solid #ccc;
  padding: 0px 1em;
    content: "Method:";
  background-color: white;
  }
  
  method:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
    content: "Method:";
  background-color: #caa;
  }
  
ingred {
  display: block;
    margin: 1em 1em;
  }
  
  p {
  display: block;
    margin: 1em 1em;
  }
