/*** XML demonstration ***/
cookbook:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
  content: "Online collection";
  background-color: #393;
  }
  
  cookbook {
  width: 50%;
  }

metadata {
  display: block;
  margin: 2em 1em;
  border: 4px solid #363;
  padding: 0px 1em;
  background-color: white;
  }

title {
  font-weight: bold;
  font-size: 150%;

  }

content {
  display: block;
  margin: 2em 1em;
  border: 4px solid #ccc;
  padding: 0px 1em;
  background-color: white;
  }

chapterHead {
  display: block;
  font-weight: bold;

  font-size: 150%;
    background-color: #6c6;
  }
  
  recipe {
  display: block;
  margin: 2em 1em;
  border: 2px solid #0c0;
  padding: 8px 1em;
  background-color: white;

  }
  
  name {
    display: block;
  font-weight: bold;
    margin: 2em 1em;
      padding: 8px 1em;
        height: 300px;
  font-size: 150%;
     background-image: url(https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/shepherdspie_2077_16x9.jpg);
 
  }

ingredients {
  display: block;
  margin: 2em 1em;
  border: 1px solid #ccc;
  padding: 0px 1em;
  background-color: white;
  }

ingredients:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
    content: "Ingredients:";
  background-color: #0b0;
  }
  
method {
  display: block;
  margin: 2em 1em;
  border: 1px solid #ccc;
  padding: 0px 1em;
    content: "Method:";
  background-color: white;
  }
  
  method:before {
  display: block;
  font-weight: bold;
  font-size: 200%;
    content: "Method:";
  background-color: #3b0;
  }
  
ingred {
  display: block;
    margin: 1em 1em;
  }
  
  p {
  display: block;
    margin: 1em 1em;
  }
